* {
	padding: 0;
	margin: 0;
}

html {
	font-size: 14px; /* Bootstrap default */
	min-width: 320px;
}

body {
	/*background: url('../images/background-black.jpg') no-repeat center;*/
	/*background: url('../images/background-stars.jpeg') no-repeat center;*/
	/*background: url('../images/background-dark-stars.jpeg') no-repeat center;*/
	/*background-color: magenta;*/
	background-attachment: fixed;
	padding-top: 67px;
	color: #CCC;
}
	@media (min-width: 768px) {
		body {padding-top: 69px;}
	}
	/* body padding keeps the page header next to fixed navbar, preventing the background from protruding /**/

a,
a:hover {
	text-decoration: none;
	cursor: pointer;
}
a:hover {
	color: magenta;	
}

/* ***	NAVBAR ELEMENTS  *** */

.navbar-default {
	background-color: #397CC5;
	border-bottom: 1px solid #397CC5;
	box-shadow: 0 5px 15px 1px #888;
}

.nav.navbar-nav > li > a {
	color: #fff;
}
.nav.navbar-nav > li.active > a {
	background-color: #003E6B;
}
	@media (min-width: 768px) {
		.nav.navbar-nav > li.active > a {
			border-radius: 5px;
		}
	}

.navbar > .container > .navbar-header > .navbar-brand {
	/*background-color: #0f0f0f;*/
	width: 70px;
	/*border: 1px solid lime;*/
	padding: 0;
	margin-left: 15px;
	margin-right: 10px;
}

@media (max-width: 767px) {
	.navbar > .container > .navbar-header > .navbar-brand {
		margin-left: 0;
	}
}
@media (min-width: 768px) {
	.navbar > .container > .navbar-header > .navbar-brand {
		margin-left: 0;
	}
}

.navbar-toggle {
	margin-top: 16px;
	margin-bottom: 16px;
}
.navbar-inverse .navbar-toggle:hover,
.navbar-inverse .navbar-toggle:focus {
	background-color: #003E6B;
}

/* *** BOOK NOW BUTTONS *** */
.navbar a.btn-primary.navbar-btn {
	margin-right: 15px;
	background-color: darkred;
	border-color: darkred;
}
#book-now-lg,
#book-now-lg:hover {
	color: white; /* overrides Bootstrap default font color for large Book Now button */
}

/** EXTRA SMALL DEVICES (MOBILES AND TABLETS) */
@media (max-width: 767px ) {
	.navbar-brand img {
		/*max-height: 100%;*/
		margin-left: 15px;
	}
	
	#book-now-xs {
		width: 7em;
		margin: 0 auto;
		margin-top: 16px;
		margin-bottom: 16px;	
	}

	#book-now-xs:hover {
		color: white;
		background-color: transparent;
	}
}



/* *** 	HEADER ELEMENTS	 *** */
#title {
	position: relative;
	min-height: 420px;
	margin: 0 auto;
	/*border-bottom: 1px solid black;*/
	/*background: #16181c url('../images/bio-young.png') no-repeat right;*/
	background: #fff url('../images/background.png') no-repeat right;
}

h1,h2 {
	text-transform: uppercase;
	/*color: #CCC;*/
	color: #333;
}
h1 {
	/*font-size: 2em;*/
	font-weight: 800;
}
	h1 span {
		color: darkred;
	}
h2 {
	/*font-size: 1.4em;*/
	font-weight: 600;
}
	h1.gradient,
	h2.gradient {
		/*font-size: 72px;*/
		background: -webkit-linear-gradient(#ddd, #b2046d);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
	}
	/*h2 span {*/
		/*color: darkgreen;*/
		/*display: block;*/
	/*	position: relative;
	}*/
	h2.italic {
		font-style: italic;
	}
h3 {
	text-align: center;
	font-weight: 600;
	margin-top: 50px;
	margin-bottom: 50px;
}



#title #header-holder {
/*	border: 2px solid blue;*/
	/*position: relative;*/
}



#superfinalist {
	position: relative;
	/*border: 2px solid cyan;*/
	/*color: antiquewhite;*/
}

#superfinalist .image-holder img {
	width: 100%;
}
#superfinalist span {
	display: block;
	color: magenta;
	text-align: center;
	font-family: 'Satisfy', cursive;
	font-weight: 600;
}



@media (max-width: 767px) {
	h1, h2 {
		text-align: center;	
	}
	h1 {
		font-size: 2em;
	}
	h2 {
		font-size: 1.2em;
	}

	#title {
		background: #fff;
	}

	#title  img.mobile-background {
		/*border: 2px solid yellow;*/
		position: relative;
		/*top: 0;*/
		margin: 20px auto;
		margin: 0 auto;
	}

	#superfinalist {
		width: 300px;
		margin: 20px auto 0;
		/*text-align: justify;*/
		font-size: 1.2em;
	}
}

@media (min-width: 768px) {
	#title {
		/*background: url("../images/bio-young.webp") no-repeat right;*/
		min-height: 420px;
		color: #CCC;
	}
	
	h1 {
		font-size: 2.33em;
	}
	h2,h4 {
		font-size: 1.4em;
	}
	h3 {
		font-size: 2em;
	}

	#superfinalist {
		width: 60%;
		margin-top: 130px;
		font-size: 1.4em;
	}
}
	
@media (min-width: 992px) {
	h1 {
		font-size: 2.75em;
	}
	h2,h4 {
		font-size: 1.65em;
	}
	h3 {
		font-size: 2.36em;
	}

	#superfinalist {
		width: 50%;
		margin-top: 100px;
		font-size: 1.65em;
	}
}

@media (min-width: 1200px) {
	h1 {
		font-size: 3em;
	}
	h2,h4 {
		font-size: 1.8em;
	}
	h3 {
		font-size: 2.76em;
	}

	#superfinalist {
		margin-top: 60px;
		font-size: 1.8em;
	}
}






#content {
	color: #333;
}



/* *** NEWS ELEMENTS *** */
.top-news-date,	
.news-preview-date,
.news-date {
	color: #ED9911;
	font-style: italic;
}

.top-news-article,
/*.news-preview-box*/ {
	position: relative;
	padding: 0.5em 1em;
	margin-bottom: 10px;
	border-radius: 5px;
	background-color: rgba(255,255,255,0.1);
}

@media (max-width: 767px) {
	
}


	/* *** HOMEPAGE TOP 3 NEWS *** */

#top-news {
	position: relative;
	margin-bottom: 40px;
}

@media (min-width: 768px) {
	#top-news-image-container {
		width: 40%;
		/* height needs to be set as an exact value via js */
		float: left;
		padding-right: 15px;
	    /*white-space: nowrap;*/
    	/*text-align: center; */
    	/*margin: 1em 0;*/
	}
	.helper {
	    display: inline-block;
	    height: 100%;
	    vertical-align: middle;
	}
	#top-news-image-container img {
    	vertical-align: middle;
    	max-width: 100%;
    	max-height: 100%;
	}

	#top-news {
		width: 60%;
		float: right;
		/*height: 210px;*/
		/*top: 40px;*/
	}
}
@media (min-width: 992px) {
	#top-news-image-container img {
    	max-width: 75%;
    	max-height: 75%;
	}
}
@media (min-width: 1200px) {
	#top-news-image-container img {
    	max-width: 95%;
    	max-height: 95%;
	}
}



.top-news-content {
	margin-top: 10px;
	max-height: 120px;
	overflow: hidden;
	/*border: 1px solid blue;*/
}

.clear {
	clear: both;
}




	/* *** NEWS PREVIEW (PAGINATOR) *** */

.news-preview-box {
	border: 2px solid magenta;
	/*padding: 0.5em auto;*/
	margin: unset;
	margin-bottom: 80px;
	/*margin-right: -15px;*/
	border-radius: 5px;
	background-color: rgba(255,255,255,0.1);
}

.news-preview-box .news-preview-content {
	/*border: 1px solid blue;*/
	/*margin: 0;*/
	/*margin-top: 10px;*/
	/*position: relative;*/
	/*height: 150px;*/
	/*overflow: hidden;*/
	/*padding-bottom: 30px;*/
	text-align: justify;
}
.news-preview-headline {
	/*border: 1px solid yellow;*/
}

.news-image-container {
	height: 85%;
	margin: 10px auto;
	/*border: 1px solid green;*/
}

.news-image-container img {
	display: block;
	margin: 0 auto;
	border-radius: 5px;
	max-height: 80%;
	max-width: 100%;
} 

.news-share {
	/*border: 1px solid yellow;*/
	color: red;
	position: relative;
	bottom: 0;
	/*right: 0;*/
	max-height: 15%;
	margin-top: 10px;
	margin-bottom: 15px;
}
@media (max-width: 767px) {
	h4 {
		text-align: center;
		margin-bottom: 20px;
	}

	.news-preview-box {
		/*margin: 50px 10px;*/
	}

	.news-preview-article {
		max-height: 70%;
		margin-bottom: 15px;
		/*overflow: hidden;*/
		/*background-color: yellow;*/
	}

	.news-image-container {
		display: block;
		margin: 10px auto 30px;
		max-width: 80%;
	} 
	.news-image-container img {
		width: 100%;
	}
}
@media (min-width: 768px) {
	.news-preview-box {
		/*left: 0;*/
		/*margin: 0;*/
		/*padding: 0;*/
		/*margin-right: unset;*/
		/*padding-right: unset;*/
	}
}


	/* *** FULL NEWS ARTICLE *** */
.news-article-box {
	padding: 0.5em 1em;
}

.news-article-box .news-image-container img {
	margin-top: 0;
}

.news-content {
	position: relative;
}
.news-content .news-share {
	position: relative;
	margin-top: 20px;
}





/* *** BOOKING BOX (jumbotron) ***/
#booking-box {
	margin-top: 80px;
	position: relative;
	/*background-color: inherit;*/
	border: 1px solid #001423;
	background-color: rgba(255,255,255,0.1);
	color: antiquewhite;
}

#booking-box h3 {
	font-size: 2em;
	margin-top: 0;
	text-align: center;
	margin-bottom: 1em;
}
#booking-box p {
	text-align: justify;
}
#jumbotron-shows {
	position: relative;
}
#jumbotron-shows p {
	margin: 0;
}
#amazing-shows {
	position: relative;
}
#amazing-shows a:first-child {
	color: magenta;
	background-color: #001423;
}
#amazing-shows a:first-child:hover {
	color: #001423;
	background-color: magenta;
	border-color: #001423;
}
#booking-box ul {
	position: relative;
	padding: 0;
	margin-bottom: 35px;
}
#booking-box ul > li {
	display: block;
	position: relative;
	margin: 0;
	font-size: 1.2em;
	text-transform: capitalize;
}
#booking-box ul > li:before {
    /*Using a Bootstrap glyphicon as the bullet point*/
    margin: 4px 5px 0;
    content: "\E080";
    font-family: 'Glyphicons Halflings';
    font-size: 9px;
}
#booking-box img {
	position: absolute;
	right: 0;
	bottom: 0;
}
#jumbotron-shows a {
	font-weight: 600;
}



/* *** FOOTER ELEMENTS *** */
#footer {
    bottom: 0;
    padding: 0;
    margin-top: 80px;
    /*background: #0f0f0f url('../images/background-sparkle.jpg') center no-repeat;*/
    /*background-color: #0f0f0f;*/
    background-color: #001423;
    color: antiquewhite;
    border-top: 1px solid white;
}
#footer a:hover {
	color: antiquewhite;
}


#direct-contact,
#social-media {
    margin: 40px auto;
}

#direct-contact-details {
	max-width: 240px;
	margin: 0 auto;
/*	border: 1px solid blue;*/
	/*display: table;*/
	position: relative;
	align-content: center;
}

.direct-contact-row {
	display: table;
	position: relative;
	/*width: 100%;*/
	margin: 15px auto;
/*	border: 1px solid lime;*/
	/*padding: 2px auto;*/
}

.direct-contact-icon {
	display: table-cell;
	vertical-align: middle;
	/*position: relative;*/
	margin-right: 10px;
	/*border: 1px solid yellow;*/
	fill: #fffca5;
}

#direct-contact-details a,
#direct-contact-details span {
	display: table-cell;
/*	border: 1px solid yellow;*/
	/*text-align: center;*/
	/*top: 0;*/
	/*position: relative;*/
	vertical-align: middle;
	/*bottom: 25px;*/
}

#social-media-icons {
}

#social-media-icons a img {
	display: block;
	margin: 0 auto;
	/*width: 100%;*/
	/*margin-left: 24px;*/
}

.social-media-icon {
	/*border: 1px solid green;*/
	padding: 0;
}

#social-media-icons > div > span {
	display: block; /* može i inline-block sa width: 100%; */
	text-align: center;
	font-style: italic;
	/*border: 1px solid yellow;*/
	margin-top: 5px;
	/*width: 100%;*/
	/*margin: 0 auto;*/
}

.copyright {
	text-align: center;
	color: #888;
}

#footer-creator {
	margin-top: 20px;
	position: relative;
	/*left: 0;*/
}

#footer-creator .container {
	z-index: 1;
	position: relative;
}

#footer-creator .container > a {
	color: #9bbbff;
}

#creator-background {
	position: absolute;
	height: 40px;
	z-index: 0;
	bottom: 0;
	left: 0;
	background-color: #666;
	border-top-right-radius: 60px;
	/*width: 40%;*/

}


/* media query EXTRA SMALL display (up to 767px) */
@media (max-width: 767px) {


	#booking-box p {
		font-size: 1.25em;
	}
	#jumbotron-shows a {
		display: block;
		width: 16em;
		margin: 0 auto;
	}

	/* FOOTER */

	#direct-contact-details {
		max-width: 240px;
		margin: 0 auto;
	}

	#direct-contact-details hr {
		border-color: #888;
		margin: 0 auto;
	}
	
	#social-media {
		margin-top: 60px;

	}

	#footer-client > hr {
		margin-top: 60px;
	}

	#social-media-icons {
		max-width: 320px;
		margin: 0 auto;
	}

	#creator-background {
		min-width: 240px;
	}

/*	p.credits {
		text-align: center;
		display: block;
		margin: 0 auto 20px;
		width: 20em;
	}
	p.credits ~ p.credits {
		text-align: center;
		float: none;
	}*/

}

/* media query SMALL display (768-991px) */
@media (min-width: 768px) {

	#booking-box img {
		max-height: 249px;
		max-width: 244px;
	}

	#creator-background {
		min-width: 35%;
	}
}

/* media query MEDIUM display (992-1199px) */
@media (min-width: 992px) {


}

/* media query LARGE display (1220px and obove) */
@media (min-width: 1200px) {

}