* {
	border: 0;
	margin: 0;
}

html {
	font-size: 16px;
	min-width: 320px;
}
a,
a:hover {
	text-decoration: none;
	cursor: pointer;
}
a:hover {
	color: darkred;	
}

.navbar-brand {
	padding:0 15px;
}
.navbar-brand > img {
	/*overflow: auto;*/
}

/* *** BOOK NOW BUTTON *** */
ul.navbar-right > li {
	margin-top: 3px;
	margin-right: 15px;
}
ul.navbar-right a.btn-primary {
	color: white;
}
ul.navbar-right a.btn-primary:hover {
	color: #333;
}

/* *** HEADER ELEMENTS *** */
#title {
	position: relative;
	min-height: 420px;
	margin-top: 80px;
/*	border: 2px solid magenta;*/
}

#title #header-holder {
/*	border: 2px solid blue;*/
	position: relative;
}
h1,h2 {
	text-transform: uppercase;
	color: #333;
}
h1 {
	/*font-size: 2em;*/
	font-weight: 800;
}
	h1 span {
		color: darkred;
	}
h2 {
	/*font-size: 1.4em;*/
	font-weight: 600;
}
	h2 span {
		/*color: darkgreen;*/
		/*display: block;*/
		position: relative;
	}
h3 {
	text-align: center;
	font-weight: 600;
	margin-bottom: 1em;
}

#title > img {
/*	border: 2px solid yellow;*/
	position: relative;
	top: 0;
	margin: 0 auto;
}

#about-george {
	position: relative;
/*	border: 2px solid cyan;*/
	width: 60%;
	margin-top: 2em;
}
#spell-animation-container {
	position: absolute;
	bottom: 0;
	z-index: 10;
}
#about-george > span {
	font-family: 'Satisfy', cursive;
	/*color: aqua;*/
	/*margin-left: 15px;*/
}


/* *** NEWS ELEMENTS *** */
#top-news {
	/*border: 2px solid lime;*/
	/*bottom: 0;*/
	position: relative;
	margin-bottom: 40px;
}

.news-article {
	position: relative;
	z-index: 1;
	padding: 0.5em 1em;
	margin-bottom: 10px;
	background-color: #EEE;
	border-radius: 10px;
}

.news-date {
	color: steelblue;
	font-style: italic;
}

.clear {
	clear: both;
}
a.expand {
	display: block;
}

a.collapse {
	display: block;
	color: magenta;
	z-index: 99999;
}


/* *** BOOKING BOX (jumbotron) ***/
#booking-box {
	position: relative;
	background-color: #005287;
	color: antiquewhite;
}
#jumbotron-title {
	margin-top: 0;
}
#booking-box h3 {
		font-size: 2em;
		text-align: center;
		margin-bottom: 1em;
}
#booking-box p {
	text-align: justify;
}
#jumbotron-shows {
	position: relative;
}
#jumbotron-shows p {
	margin: 0;
}
#amazing-shows {
	position: relative;
}
#booking-box ul {
	position: relative;
	padding: 0;
	margin-bottom: 35px;
}
#booking-box ul > li {
	display: block;
	position: relative;
	margin: 0;
	font-size: 1.2em;
	/*font-style: italic;*/
	/*list-style: none;*/
	/*content: "\E049";*/
	text-transform: capitalize;
}
#booking-box ul > li:before {
    /*Using a Bootstrap glyphicon as the bullet point*/
    margin: 4px 5px 0;
    content: "\E080";
    font-family: 'Glyphicons Halflings';
    font-size: 9px;
    /*float: left;*/
    /*margin-top: 4px;*/
}
#booking-box img {
	position: absolute;
	right: 0;
	bottom: 0;
}
#jumbotron-shows a {
	font-weight: 600;
}



/* *** FOOTER ELEMENTS *** */
#footer {
    bottom: 0;
/*    height: 420px;  izbriši kad ubaciš sadržaj 
*/    padding: 0;
    margin-top: 30px;
    background-color: #333;
    color: antiquewhite;
    /*font-family: "Oswald", sans-serif;*/
    /*font-size: 12px;*/
    /*font-weight: normal;*/
/*    border: 2px solid aqua;*/
}
#footer a {
	color: white;
}
#footer p {
    font-size: 1.2em;
}

#footer-client {
    /*height: 320px;*/
/*    border: 2px solid magenta;*/
}
#footer-client > p {
	font-size: 1em;
}

#social-media,
#direct-contact {
    margin: 40px auto;
}

#social-media-icons {
    margin: 0 auto;
    width: 292px;
}
#direct-contact-icons {
    margin: 0 auto;
    width: 144px;
}

#social-media p,
#direct-contact p {
    text-align: center;
}

#social-media a,
#direct-contact a {
/*    display: inline-block;*/
    margin: 0px 3px;
}

#direct-contact a {
	display: inline-block;
}
#direct-contact a img {

}
#direct-contact a p {
	text-align: center;
	font-size: 1.1em;
	margin-top: 10px;
}

p.credits {
	display: inline-block;
	margin-bottom: 30px;
}

p.credits ~ p.credits {
	text-align: right;
	float: right;
}


/* media query EXTRA SMALL display (up to 767px) */
@media (max-width: 767px) {
	#bookNow {
		position: relative;
		top: 3px;
		width: 7em;
		margin: 5px auto;
	}

	#header-holder {
	}

	h1, h2 {
		text-align: center;	
	}
	h1 {
		font-size: 2em;
	}
	h2 {
		font-size: 1.2em;
	}
	
	#about-george {
		width: 100%;
		/*text-align: justify;*/
		font-size: 1.2em;
	}

	#top-news {
		width: 100%;
	}

	#booking-box p {
		font-size: 1.25em;
	}
	#jumbotron-shows a {
		display: block;
		width: 16em;
		margin: 0 auto;
	}

	p.credits {
		text-align: center;
		display: block;
		margin: 0 auto 20px;
		width: 20em;
	}
	p.credits ~ p.credits {
		text-align: center;
		float: none;
	}

}

/* media query SMALL display (768-991px) */
@media (min-width: 768px) {
	#title {
	background: #FFF url("../images/background.png") no-repeat right bottom;
	min-height: 420px;
	}
	
	h1 {
		font-size: 2.33em;
	}
	h2 {
		font-size: 1.4em;
	}
	h3 {
		font-size: 2em;
	}
	
	#about-george {
		font-size: 1.4em;
	}
	
	#top-news-image {
		width: 40%;
		/*background-color: magenta;*/
		/* height needs to be set as an exact value via js */
		float: left;
		padding-right: 15px;
	    /*white-space: nowrap;*/
    	/*text-align: center; */
    	/*margin: 1em 0;*/
	}
	.helper {
	    display: inline-block;
	    height: 100%;
	    vertical-align: middle;
	}
	#top-news-image img {
    	vertical-align: middle;
    	max-width: 100%;
    	max-height: 100%;
	}

	#top-news {
		width: 60%;
		float: right;
		/*height: 210px;*/
		/*top: 40px;*/
	}
	
	#booking-box img {
		max-height: 249px;
		max-width: 244px;
	}
}

/* media query MEDIUM display (992-1199px) */
@media (min-width: 992px) {
	h1 {
		font-size: 2.75em;
	}
	h2 {
		font-size: 1.65em;
	}
	h3 {
		font-size: 2.36em;
	}

	#about-george {
		font-size: 1.65em;
	}

	#top-news-image img {
    	max-width: 75%;
    	max-height: 75%;
	}
}

/* media query LARGE display (1220px and obove) */
@media (min-width: 1200px) {
	h1 {
		font-size: 3em;
	}
	h2 {
		font-size: 1.8em;
	}
	h3 {
		font-size: 2.76em;
	}

	#about-george {
		font-size: 1.8em;
	}
}