* {
	margin: 0;
	padding: 0;
}

body {
	background: none;
}
body.animated {
	background: url('../images/welcome-background.jpg') no-repeat top right;
}

#wrapper {
	position: relative;
	display: table;
	/*border: 5px solid black;*/
	width: 100%;
	height: 100vh;
}

#holder {
	position: relative;
	/*border: 2px solid aqua;*/
	display: table-cell;
	vertical-align: middle;
	height: 70vh;
}

#language-box {
	/*position: absolute;*/
	/*border*/: 1px solid blue;
	bottom: 0;
	padding: 5%;
	margin: 5% auto;
	background-color: rgba(255,255,255,.25);
	border-radius: 5px;
	/*height: -60;*/
}

.language {
	/*border: 1px solid green;*/
	/*padding: 0 50px;*/
}

.language img {
	/*border: 1px solid yellow;*/
	/*height: 100%;*/
	display: block;
	width: 64px;
	margin: 0 auto;	
}

.language a {
	display: block;
	bottom: 0;
	margin: 25px auto;
	/*width: 40%;*/
	max-width: 92px;
}

#content {

}

#spell-animation-container {
	position: absolute;
	bottom: 0;
	display: block;
	margin: 0 auto;
	/*width: 200px;*/
	z-index: 99;
	/*border: 1px solid magenta;*/
/*	
	top: 1100px;
	z-index: 999999;
*/

}


h1,
h2,
h3 {
	text-align: center;
	text-transform: uppercase;
}

h3 {
	/*white-space: nowrap;*/
	font-size: 1em;
}
#copyright {
	bottom: 0;
	/*position: relative;*/
	/*border: 1px solid magenta;*/
	display: table-row;
	text-align: center;
	color: #555;
/*	vertical-align: bottom;*/	
	/*height: 30vh;*/
}

#copyright .container {
	display: table-cell;
	vertical-align: middle;
	display: block;
	margin-bottom: 20px;
	/*position: relative;*/

}