# Allows mod_rewrite to work 
Options +SymLinksIfOwnerMatch 
RewriteEngine On 
RewriteCond %{REQUEST_FILENAME} !-f 
RewriteRule . index.php
RewriteCond %{REQUEST_FILENAME} !-d
#RewriteRule ^ - [R=404, L]
